.home-container {
    border-top: 0px solid rgb(0, 0, 0);
    padding: 20px 0 0 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 143px 0 0 0;
}
.home-image {
    width: 100vw;
    height: 450px;
    background-image: url("../assets/background2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}
.contents {
    border: 0px solid rgb(239, 29, 183);
    color: rgb(0, 0, 0);
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding: 0 10vw;
}
.heading {
    border: 0px solid rgb(239, 29, 29);
    margin: 10px 0 0 0;
    padding: 0;
}
.tagline {
    border: 0px solid rgb(239, 29, 29);
    margin: 10px 0 10px 0;
    padding: 0;
}
.btn-container {
    border: 0px solid rgb(239, 29, 29);
    margin-bottom: 0px;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    font-size: 0.9em;
}
.button {
    border: 2px solid rgb(173, 173, 173);
    border-radius: 3px;
    margin: 0px 10px 0px 0px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    color: rgb(33, 33, 33);
    background-color: white;
    font-weight: 700;
    width: 250px;
}
.button:hover {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 3px;
    text-decoration: none;
    color: rgb(46, 46, 46);
    background-color: rgb(220, 220, 220);
}