.how-container,
.how-container .header-contents,
.how-container .btn-container,
.how-container h6, 
.how-container ul, 
.how-container p, 
.how-container h1, 
.how-container li,
.how-container .box-1,
.how-container .box-2,
.how-container .box-3,
.how-container .box-4 {
    border: 0px solid rgb(0, 255, 8);
    margin: 0;
}
.how-container {
    width: 950px;
    margin: 155px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.how-container .header-contents {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.how-container .box-1 {
    color: rgb(255, 255, 255);
    background-color: rgb(18, 166, 100);
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 475px;
    height: 475px;
    margin: 0 10px 0px 0px;
    justify-content: flex-end;
}
.how-container .box-1 h1,
.how-container .box-1 h6,
.how-container .box-1 p {
    margin: 0px 15px 10px 15px;
}
.how-container .box-1 p:last-child {
    margin-bottom: 30px;
}
.how-container .box-2 {
    background-image: url("../assets/background2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    width: 475px;
    height: 475px;
}
.how-container .box-3 {
    margin: 30px 30px 30px 30px;
    
}
.how-container .box-4 {
    height: auto;
    margin: 30px 0 30px 0;
}
.how-container h1 {
    font-size: 2.5em;
}
.how-container .btn-container {
    width: 400px;
    margin: 30px 30px 0px 30px;
}
.how-container span {
    font-weight: 600;
}